* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    background: black;
}

h1 {
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    padding: 5px;
}

.country-flag {
    max-width: 100%;
    height: auto;
}



@media screen and (min-width: 450px ) {
    .country-flag {
        width: 450px;
    }
}