* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.country-flag {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 450px ) {
    .country-flag {
        width: 450px;
    }
}