* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    background: black;
}

h1 {
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    padding: 5px;
}

#js-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#country-destination {
    padding: 5px;
    border-radius: 26px;
    border: 1px solid black;
    text-align: center;
}

.country-flag {
    max-width: 100%;
    height: auto;
}



@media screen and (min-width: 450px ) {
    .country-flag {
        width: 450px;
    }
}